/*
    Document   : css
    Created on : 28/12/2012, 16:24:29
    Author     : Hélio <insign@gmail.com>
    Description:
*/


* {
  text-align: center;
  color: #fff;
}
html {
  background:url(../img/Aurora_by_Edward_LOVER4ever.jpg) center top no-repeat #642A6B;
}

body {
  width: 100%;
  height: 100%;;
}

.btn_central_cont .btn_central {
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  margin:3em 0;

  display: inline-block;
  width: 11em;
  height: 11em;

  background: #B8B8B8;

  /* RGBa with 0.6 opacity */
  background: rgba(184,184,184, 0.4);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#49B8B8B8, endColorstr=#49B8B8B8);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#49B8B8B8, endColorstr=#49B8B8B8)";

  /*Calculo para IE
  Replace 0.6 with your desired alpha level
	  Math.floor(0.6 * 184).toString(16);
  */

  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  -o-border-radius: 50em;
  -ms-border-radius: 50em;
  border-radius: 50em;
}
.btn_central_cont i {
  font-size: 8em;
  color: #fff;
  opacity: 1;
}
.btn_central_cont .icon-play:before {
  position: relative;
  left:-.04em;;
  top:.09em;
}

.btn:active {
  background: #B8B8B8 !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -o-tap-highlight-color: rgba(0,0,0,0);
  -ms-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}

.btn_central_cont .icon-wait {
  display: inline-block;

  -webkit-animation: spin 5s infinite linear;
  -moz-animation: spin 5s infinite linear;
  -o-animation: spin 5s infinite linear;
  -ms-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}

