/*
    Document   : css
    Created on : 28/12/2012, 16:24:29
    Author     : Hélio <insign@gmail.com>
*/
* {
  text-align: center;
  color: #fff;
  font-family: OpenSansLight, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  background: url(../img/Aurora_by_Edward_LOVER4ever.jpg) center top no-repeat #000000;
}
.dn {
  display: none;
}
.dib {
  display: inline-block;
}
body {
  width: 100%;
  height: 100%;
}
.of_title {
  margin-top: 1em;
  font-size: 3em;
  font-weight: normal;
}
.btn_settings {
  position: absolute;
  top: .5em;
  left: .3em;
  opacity: .5;
  /*.dn*/

}
.win_settings {
  display: none;
  background: #000;
  color: #FFF;
  position: absolute;
  top: 0;
  color: red;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: left;
}
.win_settings h1 {
  font-size: 1.3em;
  margin: .5em 0;
}
.in_settings .win_settings {
  display: block;
}
.btn_central_cont {
  display: inline-block;
  margin: 3em 0;
  width: 11em;
  height: 11em;
  background: #B8B8B8;
  /* RGBa with 0.6 opacity */

  background: rgba(184, 184, 184, 0.4);
  /* For IE 8*/

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#49B8B8B8, endColorstr=#49B8B8B8)";
  /*Calculo para IE
    Replace 0.6 with your desired alpha level
            Math.floor(0.6 * 184).toString(16);
    */

  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  -o-border-radius: 50em;
  -ms-border-radius: 50em;
  border-radius: 50em;
}
.btn_central_cont i {
  font-size: 7em;
  color: #fff;
}
.btn_central_cont i:active {
  color: #222;
}
.btn_central_cont .icon-play:before {
  position: relative;
  left: .05em;
  top: .11em;
}
.btn_central_cont .icon-pause {
  font-size: 6em;
  position: relative;
  top: .25em;
}
.btn_central_cont .btn_wait {
  font-size: .8em;
  position: relative;
  top: 2em;
}
.btn_central_cont .btn_error {
  font-size: .8em;
  position: relative;
  top: 2em;
}
.btn_central_cont .btn {
  display: none;
}
.playing .btn_central_cont .btn_play,
.stopped .btn_central_cont .btn_play,
.waiting .btn_central_cont .btn_play {
  display: none;
}
.playing .btn_central_cont .btn_pause,
.paused .btn_central_cont .btn_play,
.waiting .btn_central_cont .btn_wait,
.stopped .btn_central_cont .btn_play,
.error .btn_central_cont .btn_error {
  display: inline-block;
}
.spin {
  display: inline-block;
  -webkit-animation: spin 4s infinite linear;
  -moz-animation: spin 4s infinite linear;
  -o-animation: spin 4s infinite linear;
  -ms-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
.about .name {
  font-size: 1.2em;
}
#stn {
  width: 100%;
  position: fixed;
  bottom: 1em ;
}
#stn .well .label {
  font-family: OpenSansRegular;
}
