<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "me.sensy.onefocus"
        versionCode="1124"
        version   = "1.0.1124">

    <name>One Focus</name>
    <description>
        Focus on your work, isolating yourself from the world for a few moments
    </description>

    <author href="http://sensy.me" email="contact@sensy.me">
        Sensy Software
    </author>

    <preference name="phonegap-version" value="2.5.0" />
    <preference name="fullscreen" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="android-installLocation" value="auto" />

    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <icon src="res/icon/high.png" />

    <icon src="res/icon/android/ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />

    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />

    <access origin="*" />

</widget>