@charset "UTF-8";

@font-face {
    font-family: 'icons';
    src: url('../font/icons.eot?87879711');
    src: url('../font/icons.eot?87879711#iefix') format('embedded-opentype'),
        url('../font/icons.woff?87879711') format('woff'),
        url('../font/icons.ttf?87879711') format('truetype'),
        url('../font/icons.svg?87879711#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'icons';
        src: url('../font/icons.svg?87879711#icons') format('svg');
    }
}


[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /*font-size: 120%;*/

    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.icon-error:before { content: '\e802'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-play:before { content: '\e800'; } /* '' */
.icon-close:before { content: '\2715'; } /* '✕' */
.icon-settings:before { content: '\e109'; } /* '' */
.icon-next:before { content: '\e762'; } /* '' */
.icon-offline:before { content: '\e770'; } /* '' */
.icon-wait:before { content: '\e832'; } /* '' */
.icon-battery:before { content: '🔋'; } /* '\1f50b' */