
.icon-pause:before { content: '\e801'; } /* '' */
.icon-play:before { content: '\e800'; } /* '' */
.icon-next2:before { content: '\e762'; } /* '' */
.icon-wait:before { content: '\e832'; } /* '' */